<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819575241484-0sd33ip5v8kkbpc2kjuc80cvbcu7snjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819575241484-0sd33ip5v8kkbpc2kjuc80cvbcu7snjl</string>
	<key>API_KEY</key>
	<string>AIzaSyDQIaW0PRm_7dDHKu-pUVdfR9vAUWUY-YY</string>
	<key>GCM_SENDER_ID</key>
	<string>819575241484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-projects-e3408</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projects-e3408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819575241484:ios:bf0607d6fc8694fa3ae729</string>
</dict>
</plist>